<header class="article-header">
  <h1 class="article-title fw-500">
    {{- partial "title" .Page -}}
    {{- with .Page.Params.pro -}}
      <a href="{{ $.Site.Params.main_template_url }}" class="badge-pro badge-big" target="_blank" rel="noreferrer noopener">pro</a>
    {{ end }}
  </h1>
  <a class="article-edit i-md" href="{{ .Site.Params.github_repo_edit }}/{{ .Page.File.Path | replaceRE `\\` "/" }}" data-tts="down-right" aria-label="{{ i18n "edit_on_github" }}">
    {{ partial "svg" (dict "icon" "pencil") }}
  </a>
</header>
<div class="article-body markdown">
  {{- .Content -}}
</div>