
<meta charset="UTF-8"/>
<meta content='width=device-width,initial-scale=1' name='viewport'/>

<title>{{ partial "title" . }} ~ {{ .Site.Title  | title }}</title>
<meta name="description" content="{{ .Page.Params.description | default .Site.Params.description }}">

{{- $script := resources.Get "js/matchMedia.js" | resources.Minify -}}
{{ with $script.Content }}
<meta name="color-scheme" content="light dark"/>
<script>{{ . | safeJS }}</script>
{{ end }}

<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon">

<!-- RSS -->
{{- with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
