<div class="search" id="modal-search">
  <div class="search-content">
    <div class="search-form">
      <label class="search-icon">{{ partial "svg" (dict "icon" "search") }}</label>
      <input class="search-input" id="search-input" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Buscar en documentos" maxlength="64"/>
      <button data-close="">
        {{ partial "svg" (dict "icon" "xmark") }}
      </button>
    </div>
    <div class="search-results">
      <ul class="search-list" id="search-results"></ul>
    </div>
  </div>
</div>
<div class="search-overlay"></div>