
<link crossorigin='crossorigin' href='https://fonts.gstatic.com' rel='preconnect'/>
<link href='https://fonts.gstatic.com' rel='dns-prefetch'/>

<link crossorigin='crossorigin' href='https://fonts.googleapis.com' rel='preconnect'/>
<link href='https://fonts.googleapis.com' rel='dns-prefetch'/>

<link as='style' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='preload'/>
<link href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet'/>

<link as='style' href='https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css' rel='preload'/>
<link href='https://cdn.jsdelivr.net/npm/@zkreations/tooltips@4/tooltips.min.css' rel='stylesheet'/>

{{ $styles := resources.Get "scss/main.scss" }}
{{ $secureCss := $styles | resources.ToCSS | resources.Minify | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $secureCss.RelPermalink }}" integrity="{{ $secureCss.Data.Integrity }}">
