//- Contenido del widget Blog principal
//- @author zkreations
//- @data {string} data:show.share - Botones de compartir
//- @data {string} data:show.author - Perfil del author
//- @data {string} data:show.timestamp - Fecha de publicación
//- @data {string} data:show.comments - Comentarios
//- @data {string} data:show.labels - Etiquetas
//- @data {string} data:show.icons - Botón enviar por email

b:includable(id='widget:BlogContent')

  //- Alias de configuraciones del usuario
  b:with(value='data:widgets.Blog1.allBylineItems' var='show')

    //- ERROR 404
    b:if(cond='data:view.isError')
      b:include(name='$:class', data='{class: "error fs-6"}')
      b:eval(expr='data:this.navMessage')

      //- ENTRADAS MULTIPLES
      b:elseif(cond='data:view.isMultipleItems')
      b:with(value='{ js: (!data:view.search.query and (["numeric", "infinite", "load"] contains data:skin.vars.f_pagination) and !(data:blog.feedLinks.length < 10) and !data:blog.isPrivateBlog), layout: (data:view.isSearch and (data:blog.view and data:blog.view != "") ? data:blog.view : data:skin.vars.e_type), type: data:skin.vars.f_pagination }', var='$navi')
        b:include(name="contentTitle")

        //- Contenido
        .widget-content
          b:include(name="noContentPlaceholder")
          .grid.items
            b:include(name="post:cards", data='{ items: data:posts, type: data:$navi.layout }')

        //- Incluye la paginación solo si se cumplen las condiciones
        b:if(cond='data:view.isMultipleItems and !data:view.isArchive')
          b:if(cond='(data:skin.vars.f_more and !data:view.isHomepage) or !data:skin.vars.f_more')
            b:include(expr:name='(data:$navi.js ? "js" : "post") + ":pagination"')

      //- SINGLES
      b:elseif(cond='data:view.isSingleItem')
      b:include(name='$:class', data='{class: "widget Blog"}')

      b:with(value='data:posts.first', var='post')
        b:include(name='post:view' data='post')


