//- Contenido del widget BlogSearch
//- @author zkreations

b:includable(id='widget:BlogSearch')
  b:if(cond='data:widget.sectionId == "Filters"')
    b:include(name="docs" data='{ warn: "wrongFilter" }')
    b:else
    .widget-content
      form.search.flex(expr:action="data:blog.searchUrl", method="get").i-bold
        input.search-input.form-control(autocomplete="off", name="q", expr:placeholder="data:messages.search", expr:value='data:view.search.query.escaped' required="required", spellcheck="false", type="text")
        button.search-btn.btn.btn-primary.flex-none(type="submit", expr:aria-label="data:messages.search")
          b:include(name="i:meteor", data='{ icon: "search" }')
