//- Contenido del widget Copyright (Mutation: HTML)
//- @author zkreations

b:includable(id='widget:Copyright')
  b:include(name='$:class', data='{class: "footer-copyright"}')
  span.uppercase.fw-500.fs-8 <data:content/>