//- Contenido del widget Navbar (Mutation: PageList)
//- @author zkreations

b:includable(id='widget:Navbar')
  b:include(name='$:class', data='{class: "header-links b:skin-px py-1 g-1 fw-500 flex flex-wrap"}')

  b:loop(values='data:links where (l => l.title not in data:skin.vars.q_social)', var='link')
    a.header-link.has-icon(expr:href='data:link.href')
      b:class(cond='data:link.isCurrentPage', name='is-here')
      <data:link.title/>

  b:if(cond='data:links any (l => l.title in data:skin.vars.q_social)')
    .header-social.ms-auto(class="none m:flex").flex-wrap.items-center.g-1.fs-5
      b:loop(values='data:links where (l => l.title in data:skin.vars.q_social)', var='link')
        a.header-link(expr:href='data:link.href' expr:aria-label="data:link.title" target="_blank" rel="noopener noreferrer nofollow")
          b:include(name="i:svg", data="{ icon: data:link.title }")