//- Sección de copyright y redes (Global)
//- @author zkreations

+widget("LinkList")(title='Social Networks', locked="true")

+widget("HTML", { content: 'Developed by <a href="https://zkreations.com" rel="noopener noreferrer nofollow" target="_blank" property="cc:attributionName">zkreations</a> — © Your Copyright 2023' } )(title='Copyright', locked="true")
