//- Configuraciones generales
//- @author zkreations
//- @param {string} g.scheme - Modo predeterminado (system, dark, light)
//- @param {boolean} g.toggleScheme - Mostrar conmutador de modo oscuro 
//- @param {boolean} g.modalSearch - Mostrar buscador modal
//- @param {string} g.formspree=YourID - La ID de su cuenta de formspree (https://formspree.io/)
//- @param {string} g.revue=UserID - Nombre de usuario de revue (https://www.getrevue.co/)

| General
| =====================
+variables({
  "g.scheme": { description: "Scheme by default", value: "system" },
  "g.toggleScheme": { description: "Show toggle scheme", value: "true" },
  "g.modalSearch": { description: "Enable modal search", value: "true" },
  "g.formspree": { description: "Form ID", value: "YourID" },
  "g.revue": { description: "Revue user", value: "UserID" },
})
| #{'\n'}