//- Constantes
//- Se usan exclusivamente para almacenar información
//- @author zkreations

| Constantes (No hagas cambios, puedes romper la plantilla!)
| =====================
+variables({
  "q.social" : { value: "facebook, twitter, instagram, whatsapp, telegram, pinterest, tumblr, vk, reddit, tiktok, linkedin, youtube, github, codepen, codesandbox" },
})
| #{'\n'}