//- Valores por defecto (generalmente recursos o enlaces)
//- @author zkreations
//- @param {image} d.favicon - Imagen de favicon en alta resolución (192x192 PNG)
//- @param {image} d.ogImage - Imagen Open Graph por defecto
//- @param {image} d.image - Imagen por defecto para artículos sin imágenes
//- @param {image} d.avatar - Avatar de comentarios por defecto
//- @param {url} d.profileUrl - Enlace de perfil por defecto

| Default
| =====================
+variables({
  "d.favicon"  : { description: "HD favicon", value: ""},
  "d.ogImage"  : { description: "og:imagen", value: ""},
  "d.image"  : { description: "Imagen", value: ""},
  "d.avatar" : { description: "Avatar", value: "https://lh3.googleusercontent.com/a/default-user=s50"},
  "d.profileUrl" : { description: "Author url", value: "https://blogger.com"},
})
| #{'\n'}