//- Texto traducible
//- @author zkreations

| Textos
| =====================
+variables({
  "t.authorbadge" : { description: "Author badge", value: "Creador"},

  "t.toc" : { description: "Toc ", value: "Tabla de contenido"},
  "t.more" : { description: "More", value: "Más"},

  "t.copy" : { description: "Copy", value: "Copiar"},
  "t.copied" : { description: "Copied", value: "Copiado!"},

  "t.system" : { description: "System", value: "Sistema"},
  "t.light" : { description: "Light", value: "Claro"},
  "t.dark" : { description: "Dark", value: "Oscuro"},

  "t.subject" : { description: "Subject", value: "Asunto"},

  "t.recent" : { description: "Recent posts", value: "Recientes"},
  "t.related" : { description: "Related posts", value: "Relacionados"},

  "t.reply" : { description: "Reply", value: "Responder"},
  "t.replies" : { description: "Replies", value: "Respuestas"},

  "t.hiddenLink" : { description: "Hidden Link", value: "[ Enlace oculto ]"},
  "t.filtered" : { description: "Filtered Links", value: "Los enlaces no están permitidos"},

  "t.missingJumpLink" : { description: "Missing JumpLink", value: "Falta salto de línea"},

  "t.searching" : { description: "Searching", value: "Búsqueda"},
  "t.filter" : { description: "Search filter", value: "Filtrar por"},
  "t.filterBtn" : { description: "Filter button", value: "Filtrar"},
  "t.filterSelect" : { description: "Filter Select", value: "Seleccionar"},

  "t.next" : { description: "Next", value: "Siguiente"},
  "t.prev" : { description: "Prev", value: "Anterior"},
})
| #{'\n'}