.doc {
  display: grid;
  flex: 1 1 0%;
  width: 100%;
  grid-template-areas:"main-doc";
  grid-template-columns: 100%;

  @include media(min, l) {
    grid-template-areas: "aside-tree main-doc";
    grid-template-columns: 17% minmax(0, 1fr);
  }

  @include media(max, l) {
    align-items: flex-start;
  }
}

.template {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  box-shadow: var(--shadow-md);
  background-color: var(--bg-header);
  border-bottom: 1px solid var(--color-border);
  position: fixed;
  z-index: 50;
  width: 100%;

  &-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    @include media(min, m) {
      font-size: 1.125rem;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: var(--header-height);
  }

  &-toggle {
    flex: none;
    margin-right: 1rem;

    @include media(min, l) {
      display: none;
    }
  }

  &-right {
    align-items: center;
    display: flex;
    margin-left: auto;
    column-gap: .75rem;
    position: relative;

    >* {
      flex: none;
    }
  }
}

.toggle {
  &-version {
    border: 1px solid var(--color-border);
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--color-text);
  }
}

.main {
  grid-area: main-doc;

  @include media(min, l) {
    border-left: 1px solid var(--color-border);
  }

  &-section {
    margin-top: var(--header-height);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &-index {
    display: grid;
    margin-top: var(--header-height);
    grid-template-areas:
      "toc"
      "doc";
    grid-template-columns: 100%;

    @include media(min, l) {
      grid-template-areas: "doc toc";
      grid-template-columns: minmax(0, 1fr) 20%;
    }
  }
}

.section {

  &-content {
    font-size: 1.125rem;
    margin-top: 2rem;
  }

  &-list {
    border-radius: .5rem;
    border: 1px solid var(--color-border);
    max-width: 300px;

    a {
      padding: .75rem 1rem;
      display: block;
    }

    >*+* {
      border-top: 1px solid var(--color-border);
    }
  }

  &-info {
    max-width: 600px;
  }

  &-title {
    font-size: 2rem;
    font-weight: 500;
  }

  &-description {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: .75rem;
  }
}

.aside {
  overflow-y: auto;
  top: 0;
  bottom: 0;
  grid-area: aside-tree;

  &-tree {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &-menu {
    padding-right: 1.5rem;
  }

  @include media(max, l) {
    position: fixed;
    z-index: 100;
    background-color: var(--bg-main);
    padding-left: 1.75rem;
    transform: translate3d(100%, 0, 0);
    transition-property: transform, box-shadow;
    transition-duration: .3s;
    transition-timing-function: var(--timing);
    right: 100%;
    min-width: 280px;

    &:not(.is-active) {
      pointer-events: none;
      transform: translate3d(0, 0, 0);
    }

    &.is-active {
      box-shadow: var(--shadow-lg);
    }
  }

  @include media(min, l) {
    overflow: inherit;

    &-tree {
      position: sticky;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.scrollable {
  @include media(min, l) {
    top: var(--header-height);
    max-height: calc((100vh - var(--header-height)));
    bottom: 0;
    overflow-y: auto;
  }
}

.footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--color-border);

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);

    @include media(max, l) {
      flex-direction: column;

      >*+* {
        margin-top: .75rem;
      }
    }
  }
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.preload * {
  transition: none !important;
}