//
// Variables
//

$breakpoints: (
  xs: 0,
  s: 576px,
  m: 768px,
  l: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$green:    #098a91 !default;
$blue:     #076eaa !default;
$red:      #DE3723 !default;
$yellow:   #DE9E23 !default;
$white:    #ffffff !default;
$black:    #0e0f12 !default;

$gray-100: #f0f1f3 !default;
$gray-200: #cfd8dc !default;
$gray-300: #b2bbbf !default;
$gray-400: #969fa2 !default;
$gray-500: #7b8387 !default;
$gray-600: #61696c !default;
$gray-700: #45464c !default;
$gray-800: #2e2f34 !default;
$gray-900: #18191e !default;

$green-100: tint-color($green, 90%) !default;
$green-200: tint-color($green, 60%) !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 90%) !default;

$blue-200: tint-color($blue, 60%) !default;
$blue-100: tint-color($blue, 90%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 90%) !default;

$red-100: tint-color($red, 90%) !default;
$red-200: tint-color($red, 60%) !default;
$red-300: tint-color($red, 40%) !default;
$red-400: tint-color($red, 20%) !default;
$red-500: $red !default;
$red-600: shade-color($red, 20%) !default;
$red-700: shade-color($red, 40%) !default;
$red-800: shade-color($red, 60%) !default;
$red-900: shade-color($red, 90%) !default;

$yellow-100: tint-color($yellow, 90%) !default;
$yellow-200: tint-color($yellow, 60%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-400: tint-color($yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 20%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$yellow-800: shade-color($yellow, 60%) !default;
$yellow-900: shade-color($yellow, 90%) !default;
