.columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-block, 1.5rem);
  align-items: flex-start;
  > * {
    flex: 1 1 0;
    gap: var(--space-block,1.5rem);
    display: flex;
    flex-direction: column;
  }
  @include media(max, m) {
    flex-direction: column;
  }
}