.dropdown {
  background-color: var(--bg-header);
  transform-origin: top right;
  transform: translate3d(0,0,0) scale(1);
  transition-property: opacity, transform;
  transition-timing-function: var(--timing);
  transition-duration: .3s;
  position: absolute;
  opacity: 1;
  top: 100%;
  right: 0;
  box-shadow: var(--shadow-lg);
  border-radius: .5rem;
  padding: 1rem;
  will-change: transform;
  &:not(.is-active) {
    pointer-events: none;
    opacity:0;
    transform: translate3d(0,-1rem,0) scale(.9);
  }
}

.list {
  white-space: nowrap;
  &-link {
    display: block;
    &.is-active {
      color: var(--color-link);
    }
    &:hover {
      color: var(--color-link);
    }
    & + * {
      margin-top: .5rem;
    }
  }
}