.markdown {
  color: var(--color-text);
  --space-block: 1.5rem;
  --space-headings: .75rem;
  @include media(min,m) {
    line-height: 1.75;
    --space-block: 1.75rem;
  }

  a {
    &:not([class]) {
      color: var(--color-link);
    }
  }

  ul, ol {
    margin-inline-start: 1.25rem;
    > * + * {
      margin-top: 0.25rem;
    }
  }

  ul {
    list-style: disc outside;
  }

  ol {
    list-style: decimal outside;
  }

  video, iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
  }

  strong {
    color: var(--color-title);
    font-weight: 500;
  }

  mark {
    background-color: var(--bg-mark);
  }

  kbd {
    color: #fff;
    background-color: var(--bg-inverse);
    font-family: var(--font-monospace);
    padding: .5em;
    white-space: nowrap;
    border-radius: .25rem;
    font-size: .875rem;
    vertical-align: middle;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--space-headings);
    font-weight: 500;
    color: var(--color, var(--color-title));
    display: flex;
    align-items: center;
  }

  h1 { font-size: 1.75rem }

  h2 { 
    border-top: 1px solid var(--color-border);
    padding-top: var(--space-block);
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    --space-headings: 1.5rem;
  }

  h3 { font-size: 1.25rem }

  h4 { font-size: 1.125rem }

  h5 { font-size: 1rem }

  h6 { font-size: .875rem }

  blockquote:not([class]) {
    border-inline-start: 2px solid;
    padding-inline-start: 2rem;
  }

  table {
    width: 100%;
    th {
      font-weight: 700;
    }
    tr > * {
      padding: .5rem 1rem;
      border: 1px solid var(--color-border-inset);
      min-width: 60px;
    }
  }

  *:where(p,pre,table,blockquote,video,iframe,ol,ul,img,audio,figure,.space):not(:where(:last-child, figure :last-of-type,.not-space,.code-example)),
  > *:not(:where(:last-child,.not-space, .code-example)) {
    margin-bottom: var(--space-block);
  }
}

.anchor {
  margin-left: .75rem;
  visibility: hidden;
  @at-root *:hover > #{&}{
    visibility: visible;
  }
}

