.i {
  stroke-width: 2;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: var(--svg-size, 20px);
  height: var(--svg-size, 20px);

  &-xs {
    --svg-size: 16px;
  }
  &-sm {
    --svg-size: 18px;
  }
  &-md {
    --svg-size: 24px;
  }
  &-lg {
    --svg-size: 30px;
  }
  &-xl {
    --svg-size: 40px;
  }

  &-xxl {
    --svg-size: 50px;
  }
}
