//- Agrega un segmento de filtro
//- @author zkreations
//- @param {string} [type] - Tipo de filtro (mode, order, query, label)

b:includable(id='zk:filter')
  b:with(value='data:type == "label" and data:this.display == "list"', var='isList')
    label.fw-500.mb-1.block.color-title.fs-6 <data:this.title/>

    b:tag(cond='data:isList' name='div' class="filter-content relative")
      b:if(cond='data:isList')
        button(class="filter-list-btn btn w-1/1" data-wjs='outside' expr:data-target='data:widget.instanceId') <data:skin.vars.t_filterSelect/>

      .filter-type.capitalize.grid.cols-auto-fit.g-1
        b:if(cond='data:isList')
          b:class(name='filter-list absolute p-1.25 w-1/1 z-10')
          b:attr(name='id' expr:value='data:widget.instanceId')

        b:switch(var='data:type')
          b:case(value='mode')
          .filter-check.form-check
            input(type="checkbox" name="strict-mode" id="strict-mode")
            label(for="strict-mode").filter-name <data:this.content.escaped/>

          b:case(value='order')
          .filter-check.form-check
            input(type="checkbox" name="by-date" id="by-date")
            label(for="by-date").filter-name <data:this.content.escaped/>

          b:case(value='query')
          input.filter-query.form-control#q(autocomplete="off" name="q" expr:placeholder="data:messages.search" required="required" spellcheck="false" type="text")

          b:case(value='label')
          b:loop(values='data:this.labels', var='label')
            .filter-check.form-check
              b:with(value='+(data:widget.instanceId,"-",data:label.name)', var='for')
                b:with(value='"label:\\"" + data:label.name + "\\""', var='queryLabel')
                  b:tag(name='input' expr:id='data:for', type='checkbox', expr:value='data:label.name')
                    b:attr(name='name' value='cat')
                    b:attr(name='b:whitespace' value='remove')
                    b:attr(cond='data:view.search.query contains data:queryLabel' name='checked' value='checked')
                  label(expr:for='data:for').filter-name <data:label.name/>
