-
  const initCall = 50;

  const warning = {
    invalidKey: `Invalid &quot;object&quot; key. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/#invalid-object-key\\">docs</a>`,
    invalidObject: `Object is not closed, missing &quot;}&quot;. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/#object-is-not-closed\\">docs</a>`,

    invalidContent: `Invalid &quot;content&quot; value. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/#invalid-content-value\\">docs</a>`,
    invalidContentWidget: `Invalid &quot;content&quot; value for this widget type. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/#invalid-content-value-for-this-widget-type\\">docs</a>`,
    invalidOption: `Invalid &quot;value&quot; for this option. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/#invalid-value-for-this-option\\">docs</a>`,

    invalidSection: `Invalid widget type for this section. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/#invalid-widget-type-for-this-section\\">docs</a>`,

    carrouselEmpty: `Not enough items to display carousel. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/popularposts/carousel/\\">docs</a>`,
    carrouselSection: `Carousel is only available in the section &quot;Upper&quot;, &quot;Before-content&quot; or &quot;After-content&quot;. Please, move the widget and save the changes. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/popularposts/carousel/#disponibilidad\\">docs</a>`,

    headerSection: `Header is only available in the section &quot;Header&quot;. Please, move the widget and save the changes. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/header/#disponibilidad\\">docs</a>`,
    sectionSection: `Section is only available in the section &quot;Before-content&quot; or &quot;After-content&quot;. Please, move the widget and save the changes. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/text/section/#disponibilidad\\">docs</a>`,

    missingFormspreeId: `Please add Formspree form id. <a href=\\"https://docs-bison.netlify.app/5.0/variables/general/g-formspree/\\">docs</a>`,
    missingRevueId: `Please add your Revue account user ID. <a href=\\"https://docs-bison.netlify.app/5.0/variables/general/g-revue/\\">docs</a>`,

    wrongFilter: `This widget is not a valid filter. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/label/filters/\\">docs</a>`,
    wrongMenu: `Invalid menu structure. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/pagelist/menu/#menu-desplegable\\">docs</a>`,
    wrongMenuNumber: `Menu items cannot contain only numbers. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/pagelist/menu/#menu-desplegable\\">docs</a>`,

    feedsRequired: `To use this feature you need to enable blogger feeds. <a href=\\"https://docs-bison.netlify.app/5.0/starting/config/#habilitar-los-feeds\\">docs</a>`,
    publicRequired: `Not available if the blog is private`,

    missingLabel: `The key &quot;label:&quot; is not defined. <a href=\\"https://docs-bison.netlify.app/5.0/widgets/text/section/#opciones\\">docs</a>`,
  }
