| /*!
|  * Name      : Bison - Ultimate Blogger template
|  * Theme URL : https://store.zkreations.com/bison
|  * Source    : https://github.com/zkreations/bison
|  * Version   : 5.0.30
|  * Author    : Abel Daniel Moreira Moreno (https://github.com/danieIabel)
|  * License   : GPL (https://github.com/zkreations/bison/blob/main/LICENSE)
|  * Copyright : 2022 zkreations. All right reserved
|  *//*
|
include variables/admin
include variables/default
include variables/basic
include variables/comment
include variables/cards
include variables/post
include variables/functions
include variables/text
include variables/groups
include variables/const
| */ #{'\n'}
