//- Inclusion principal de comentarios
//- @author zkreations
//- @param {number} [avatarSize=40] - Tamaño del avatar
//- @param {image} [avatarImage=https://lh3.googleusercontent.com/a/default-user] - Avatar por defecto
//- @param {boolean|string} [filterLinks=false] - Filtrar enlaces (boolean|only-links)
//- @param {string} [hiddenText=data:messages.hidden] - Texto de comentario oculto por filtro
//- @param {string} [deleteText=data:messages.deleteComment] - Texto del botón eliminar
//- @param {string} [replyText=data:messages.postAComment] - Texto del botón responder
//- @param {number} [minDepth=1] - Nivel mínimo
//- @param {number} [maxDepth=5] - Nivel máximo
//- @param {boolean} [formFirst=false] - insertar formulario primero
//- @param {boolean} [newestFirst=false] - Organizar comentarios del mas nuevo al mas antiguo

b:includable(id="comment:main")
  b:if(cond='not data:view.isPreview and data:post.allowComments')
    b:if(cond='data:skin.vars.c_disqus and data:skin.vars.c_disqus != ""')
      b:if(cond='data:skin.vars.c_disqusOnClick')
        .btn.btn-full#disqus_btn
          b:include(name='i:svg' data='{ icon: "disqus"}')
          <data:messages.postAComment/>

      #disqus_thread(expr:data-post-url="data:post.url.canonical" expr:data-post-id="data:post.id" expr:data-shortname="data:skin.vars.c_disqus")

      b:else
      .post-comments
        b:include(name='$:title' data='{ numComments: data:post.numberOfComments }')
        .comments#comments(class="b:skin-g1 flex flex-column")
          b:include(name='comment:list' data='{ minDepth: ([0,1,2,3] contains data:skin.vars.c_depth ? data:skin.vars.c_depth : 1), newestFirst: (data:skin.vars.c_newer == "true" ? true : false), formFirst: data:skin.vars.c_formFirst, maxDepth: 3, filterLinks: data:skin.vars.c_filter, hiddenText: data:skin.vars.t_filtered, avatarImage: data:const.avatar, avatarSize: 50, replyText: data:skin.vars.t_reply }')