//- Etiquetas (data:post requerido)
//- @author zkreations

b:includable(id="post:labels")
  b:if(cond='data:post.labels.any')
    .post-labels.flex.flex-wrap(class="g-.5")
      b:loop(values='data:post.labels', var='label')
        a.post-labels-label.btn.btn-outline(expr:href='data:label.url') <data:label.name/>
